*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    max-height: 100%; /*adaptable altura a cualqueir fdispositivo*/
}
body{
    font-family: tahoma;
    font-size: 18px;
    background-image: url(../img/incap\ se\ invencible2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*seccion cabecera*/
#header{
    background-color: lightskyblue;
    border: 2px solid blue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: header;/*css grid header*/
}
ul{
    padding: 0 0;
    margin: 0 1px;   
}
li{
    list-style: none;
    margin: 0 5px;
    font: bold 12px verdana;
}
a{
    color: aliceblue;
    text-decoration: none;
}
/*seccion nav*/
#menu{
    grid-area:nav;/*css grip nav*/
    background-color: blue;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
/*css submenu*/
.menuB>li{
    position: relative;
    display: inline-block;
}
.menuB>li>a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}
.menuB li a:hover{
    color: lightgreen;
    transition: all .3s;
}
.submenu{
    position: absolute;
    background: blue;
    width: 120px;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
/*Estilos con pseudoclase hover en opcioones de menu*/
.menuB li:hover .submenu{ 
    display: block;/*se depliege sub menu de menumarcado*/
    z-index: 100;
}
/*estilos a buscador*/
.buscarbox input{
    height: 25px;
    width: 0px;
    padding: 5px;
    border-radius: 40px;
    border: 0px;
    padding-right: 50px;
    transition: 0.8s ease;
}
/*efecto hover el pasar mouse en buscador*/
.buscarbox input:hover{
    width: 150px;
    padding-left: 10px;
    outline: none;/*quitar bordes*/
}
/*seccion estilos <section>*/
#main{
    grid-area: main;/*CSS grid section*/
    border: 2px solid greenyellow;
    max-width: 100%;/*diseño web section*/
    height: auto;/*diseño wed respopncive*/
    background-color: rgba(255,255,255,0.6);/*efecto glass*/
    backdrop-filter: blur(5px);/*efecto glass*/ 
    border: 2px solid yellowgreen; 
    

}
figure{
    display: inline;
    margin: 45px;
    padding: 5px 5px;
}
.programa{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 5px;
    width: 45%;
    height: 200px;
    position: relative;
    border: 2px solid black;
    border-radius: 15px 15px;
}
section article{
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
    margin: 20px;
    padding: 5px;
}
/*seccion estilos barra lateral <aside>*/
#sidebar{
    grid-area: sidebar;/* CSS grid aside*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
}
iframe{
    max-width: 100%;
    height: auto;
}
/*seccion estilos footer*/
#footer{
    grid-area: footer;/*CSS grid footer*/
    padding: 20px;
    border: 2px solid yellowgreen;
    border-radius: 20px;
    clear: both;/*anula flotamientos de contenedores*/
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(20px);
    border: 2px solid yellow;
    border-radius: 20px;
}
#redes a{
    padding: 5px;
    margin: 0px;
}
#redes a i:hover{
    transform: scaleX(1.5);/*efecto de animacion agrandamiento*/
}
/*estilos a iconos fontawesome*/
i[class^="fa"]{
    color: dimgray;
    font-size: 18px;
}
i[class^="fab"]{

}